<ul>
    <% @pendente.each do |request| %>
		<% if (request.friend_id.eql? current_user.id) %>

		<% current_user.requested_friendships.each do |rq| %>
			<% if rq.id.eql? request.user_id %>
			    	<li>
		   			<%= rq.nome %>
					<%= link_to "Aceitar", controller: "friendships", action: "update", id: current_user.id, request_id: request.id%>
					<%= link_to "Decline",  controller: "friendships", action: "destroy", id: current_user.id, request_id: request.id %>
					</li>
			<%end%>
	  	<% end %>
		<%end%>

  <% end %>


</ul>

 <%= link_to "Voltar", controller: "user", action: "show", id: current_user.id%>
