<h1>RSAP</h1>

<!-- Diferentes ações para usuários que estão ou não logados -->
<% if current_user %>
   <h3>Você está logado!!</h3>
   <%= link_to 'Deslogar', destroy_user_session_path, method: :delete %>
   <%= link_to "Ver Perfil", controller: "user", action: "show", id: current_user.id%>
   <a href="/home">Mural</a>
<% else %>
   <%= link_to "Registrar-se", new_user_registration_path %>
   <%= link_to "Logar", new_user_session_path %>
<% end %>
